@using SocialNetwork.Models.ViewModels 
@model PublicationsViewModel

<link rel="stylesheet" href="~/css/publications.css">

<section class="home-section">

    <!-- Заголовок -->
    <div class="page-title">
        <h4>Публикации</h4>
    </div>
    <hr class="hr-shadow">

    <div class="content">
        <div class="publications-list">
            <div class="page-subtitle">
                <h5>Все публикации</h5>
            </div>

            <a class="add-btn" asp-action="Addpublication">Добавить публикацию</a>
    
            @foreach (var pub in Model.Publications)
            {
                <div class="item-publication">

                    <div class="user">
                        @if (pub.Publication.Owner.Image is not null)
                        {
                            <img class="item-publication__user-image" src=@("data:image/jpeg;base64," + Convert.ToBase64String(pub.Publication.Owner.Image)) alt="foto">
                        }
                        else
                        { 
                            <img class="item-publication__user-image" src="~/images/default_avatar.jpg" alt="foto">
                        }
                        <div class="item-publication__user-title">@pub.Publication.Owner.FirstName @pub.Publication.Owner.LastName</div>
                    </div>

                    <div class="block-pulication">
                        <div class="item-publication__title">@pub.Publication.Heading</div>
                        <div class="item-publication__description">
                            <span>
                                @pub.Publication.Content
                            </span>
                        </div>

                        @if (pub.Publication.Image is not null)
                        {
                            <div class="block-image">
                                <img class="item-publication__image" src=@("data:image/jpeg;base64," + Convert.ToBase64String(pub.Publication.Image)) alt="foto">
                            </div>
                        }

                        <div class="item-publication__icons">
                            
                            <form asp-action=@((pub.IsLiked ? "Unlike" : "Like").ToString()) method="post">
                                <input name="type" type="hidden" value="publication">
                                <input name="id" type="hidden" value=@pub.Publication.Id>
                                <button type="submit">
                                    <div class="icon-like">
                                        <i class="@((pub.IsLiked ? "fas" : "fad").ToString()) fa-heart"></i>
                                        <span class="count">@pub.Likes</span>
                                    </div>
                                </button>
                            </form>

                            <div class="icon-comment">
                                <i class="fas fa-comment"></i>
                                <span class="count">@pub.Comments.Count</span>
                            </div>
                        </div>
                    </div>

                    <hr />

                    @foreach (var com in pub.Comments)
                    {
                        <div class="comments">
                            <div class="user-comment">
                                <div class="user-comment__user">
                                    @if (com.Comment.Owner.Image is not null)
                                    {
                                        <img class="item-publication__user-image" src=@("data:image/jpeg;base64," + Convert.ToBase64String(com.Comment.Owner.Image)) alt="foto">
                                    }
                                    else
                                    { 
                                        <img class="item-publication__user-image" src="~/images/default_avatar.jpg" alt="foto">
                                    }
                                    <div class="item-publication__user-title">@com.Comment.Owner.FirstName @com.Comment.Owner.LastName</div>
                                </div>

                                <div class="user-comment__text">
                                    @com.Comment.Content
                                </div>

                                <div class="block-down">
                                    <div class="user-comment__icons">
                                        <form asp-action=@((com.IsLiked ? "Unlike" : "Like").ToString()) method="post">
                                            <input name="type" type="hidden" value="comment">
                                            <input name="id" type="hidden" value=@com.Comment.Id>
                                            <button type="submit">
                                                <div class="icon-comment-like">
                                                    <i class="@((com.IsLiked ? "fas" : "fad").ToString()) fa-heart"></i>
                                                    <span class="count">@com.Likes</span>
                                                </div>
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                    <div class="user-new-comment__user">
                        @if (Model.Current.Image is not null)
                        {
                            <img class="item-publication__user-image" src=@("data:image/jpeg;base64," + Convert.ToBase64String(Model.Current.Image)) alt="foto">
                        }
                        else
                        {
                            <img class="item-publication__user-image" src="~/images/default_avatar.jpg" alt="foto">
                        }
                        <form asp-action="AddComment" method="post">
                            <input name="publication" type="hidden" value=@pub.Publication.Id>
                            <textarea name="content" id="textarea" placeholder="Новый комментарий..."></textarea>
                            <button class="btn-send" type="submit"><i class="fas fa-angle-double-right"></i></button>
                        </form>
                    </div>

                </div>
            }
            <div class="block-margin"></div>
        </div>
    </div>
</section>

<script>
    // Для автоматического изменения высоты textarea
    const textarea = document.getElementById("textarea");
    textarea.style.cssText = `height: ${textarea.scrollHeight}px; overflow-y:hidden`;
    textarea.addEventListener("input", function () {
        this.style.height = "auto";
        this.style.height = `${this.scrollHeight}px`;
    });
</script>