@using SocialNetwork.Models.ViewModels 
@model PublicationsViewModel

<link rel="stylesheet" href="~/css/publications.css">

<section class="home-section">

    <!-- Заголовок -->
    <div class="page-title">
        <h4>Публикации</h4>
    </div>
    <hr class="hr-shadow">

    <div class="content">
        <div class="publications-list">
            <div class="page-subtitle">
                <h5>Все публикации</h5>
            </div>

            <!-- Форма поиска -->
            <div class="search">
                <form class="form-seacrh">
                    <input class="input-search" type="text" placeholder="Найти...">
                    <button class="button-search" type="submit">
                        <i class="far fa-search"></i>
                    </button>
                </form>
            </div>

            <a class="add-btn" asp-action="Addpublication">Добавить публикацию</a>
    
            @foreach (var pub in Model.Publications)
            {
                <div class="item-publication">

                    <div class="user">
                        @if (pub.Publication.Owner.Image is not null)
                        {
                            <img class="item-publication__user-image" src=@("data:image/jpeg;base64," + Convert.ToBase64String(pub.Publication.Owner.Image)) alt="foto">
                        }
                        else
                        { 
                            <img class="item-publication__user-image" src="~/images/default_avatar.jpg" alt="foto">
                        }
                        <div class="item-publication__user-title">@pub.Publication.Owner.FirstName @pub.Publication.Owner.LastName</div>
                    </div>

                    <div class="block-pulication">
                        <div class="item-publication__title">@pub.Publication.Heading</div>
                        <div class="item-publication__description">
                            <span>
                                @pub.Publication.Content
                            </span>
                        </div>

                        @if (pub.Publication.Image is not null)
                        {
                            <div class="block-image">
                                <img class="item-publication__image" src=@("data:image/jpeg;base64," + Convert.ToBase64String(pub.Publication.Image)) alt="foto">
                            </div>
                        }

                        <div class="item-publication__icons">
                            
                            <form asp-action=@((pub.IsLiked ? "Unlike" : "Like").ToString()) method="post">
                                <input name="publication" type="hidden" value=@pub.Publication.Id>
                                <button type="submit">
                                    <div class="icon-like">
                                        <i class="@((pub.IsLiked ? "fas" : "fad").ToString()) fa-heart"></i>
                                        <span class="count">@pub.Likes</span>
                                    </div>
                                </button>
                            </form>

                            <div class="icon-comment">
                                <i class="fas fa-comment"></i>
                                <span class="count">15</span>
                            </div>
                        </div>
                    </div>

                    <hr />

                    <div class="comments">
                        <div class="user-comment">
                            <div class="user-comment__user">
                                <img class="item-publication__user-image" src="./images/foto.jpg" alt="foto">
                                <div class="item-publication__user-title">Иван Нимеринов</div>
                            </div>

                            <div class="user-comment__text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum magni consectetur ipsum
                                veniam, porro tempora
                                odit,
                                possimus omnis molestiae perferendis natus commodi veritatis. Et perspiciatis molestiae
                                ab, eaque numquam earum?
                            </div>

                            <div class="block-down">
                                <div class="user-comment__icons">
                                    <div class="icon-comment-like">
                                        <i class="fas fa-heart"></i>
                                        <span class="count">3</span>
                                    </div>
                                </div>

                                <form>
                                    <button class="btn-answer" type="submit">Ответить</button>
                                </form>
                            </div>
                        </div>

                        <form>
                            <button class="more-comments">Показать остальные...</button>
                        </form>
                    </div>

                    <div class="user-new-comment__user">
                        @if (Model.Current.Image is not null)
                        {
                            <img class="item-publication__user-image" src=@("data:image/jpeg;base64," + Convert.ToBase64String(Model.Current.Image)) alt="foto">
                        }
                        else
                        {
                            <img class="item-publication__user-image" src="~/images/default_avatar.jpg" alt="foto">
                        }
                        <textarea id="textarea" placeholder="Новый комментарий..."></textarea>
                        <button class="btn-send"><i class="fas fa-angle-double-right"></i></button>
                    </div>

                </div>
            }
            <div class="block-margin"></div>
        </div>
    </div>
</section>

<script>
    // Для автоматического изменения высоты textarea
    const textarea = document.getElementById("textarea");
    textarea.style.cssText = `height: ${textarea.scrollHeight}px; overflow-y:hidden`;
    textarea.addEventListener("input", function () {
        this.style.height = "auto";
        this.style.height = `${this.scrollHeight}px`;
    });
</script>