@using SocialNetwork.Models.Entities
@model ApplicationUser

<link rel="stylesheet" href="~/css/main-page.css">

<section class="home-section">

    <!-- Заголовок -->
    <div class="page-title">
        <h4>Моя страница</h4>
    </div>
    <hr class="hr-shadow">

    <div class="content">
        <div class="block-foto">
            <img class="foto-img" src="./images/foto.jpg" alt="foto">
            <button class="edit-btn" type="submit">Редактировать</button>
        </div>
        <div class="block-info">
            <div class="block-info__name">@Model.FirstName @Model.LastName</div>
            <hr/>

            <table class="table">
                <tbody>
                    <tr>
                        <th class="col1">Имя</th>
                        <td>@Model.FirstName</td>
                    </tr>
                    <tr>
                        <th class="col1">Фамилия</th>
                        <td>@Model.LastName</td>
                    </tr>
                    <tr>
                        <th class="col1">Место жительства:</th>
                        <td>@{var residence = Model.Residence ?? "Установите место жительства"; @residence}</td>
                    </tr>
                    <tr>
                        <th class="col1">Дата рождения:</th>
                        <td>@{var date = Model.BirthDate == new DateTime() ? "Установите дату рождения" : Model.BirthDate.ToShortDateString(); @date}</td>
                    </tr>
                    <tr>
                        <th class="col1">Email:</th>
                        <td>@Model.UserName</td>
                    </tr>
                    <tr>
                        <th class="col1">Количество друзей:</th>
                        <td>11</td>
                    </tr>
                    <tr>
                        <th class="col1">Количество подписчиков:</th>
                        <td>37</td>
                    </tr>
                </tbody>

            </table>

            <div class="block-info__interests">Интересы: </div>
            <div>@{var interests = Model.Interests ?? "Напишите что-нибудь о себе"; @interests}</div>

        </div>
    </div>

</section>



