@using SocialNetwork.Models.ViewModels
@model UserNameAndSubscribersViewModel

<link rel="stylesheet" href="~/css/main-page.css">

<section class="home-section">

    <!-- Заголовок -->
    <div class="page-title">
        <h4>Моя страница</h4>
    </div>
    <hr class="hr-shadow">

    <div class="content">
        <div class="block-foto">
            @if (Model.User.Image is not null)
            {
                <img class="foto-img" src=@("data:image/jpeg;base64," + Convert.ToBase64String(Model.User.Image)) alt="foto">
            }
            else
            {
                <img class="foto-img" src="~/images/default_avatar.jpg" alt="foto">
            }
        <div class="block-edit-btn">
            @if (User.Identity.Name != Model.UserName)
            {
                @if (!Model.Subscribed)
                {
                    <a asp-action="Subscribe" asp-route-name="@Model.UserName" asp-route-returnurl="/Home/@Model.UserName" class="edit-btn">Подписаться</a>
                }
                else
                {
                    <a asp-action="Unsubscribe" asp-route-name="@Model.UserName" asp-route-returnurl="/Home/@Model.UserName" class="edit-btn">Отписаться</a>
                }
            }
            else
            {
                <a class="edit-btn" asp-controller="Home" asp-action="EditUserPage">Редактировать</a>
            }
        </div>
    </div>

    <div class="block-info">
        <div class="block-info__name">@Model.User.FirstName @Model.User.LastName</div>
        <hr />

        <table class="table">
            <tbody>
                <tr>
                    <th class="col1">Имя</th>
                    <td>@Model.User.FirstName</td>
                </tr>
                <tr>
                    <th class="col1">Фамилия</th>
                    <td>@Model.User.LastName</td>
                </tr>
                <tr>
                    <th class="col1">Место жительства:</th>
                    <td>@{var residence = Model.User.Residence ?? "Установите место жительства"; @residence}</td>
                </tr>
                <tr>
                    <th class="col1">Дата рождения:</th>
                    <td>@{var date = Model.User.BirthDate == new DateTime() ? "Установите дату рождения" : Model.User.BirthDate.ToShortDateString(); @date}</td>
                </tr>
                <tr>
                    <th class="col1">Email:</th>
                    <td>@Model.User.Email</td>
                </tr>
                <tr>
                    <th class="col1">Количество подписчиков:</th>
                    <td>@Model.Subscribers</td>
                </tr>
            </tbody>

        </table>

        <div class="block-info__interests">Интересы: </div>
        <div>@{var interests = Model.User.Interests ?? "Напишите что-нибудь о себе"; @interests}</div>

    </div>
    </div>

</section>



